@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center card">
    <h1 class="display-4">Welcome in Trentino Weather Forecast</h1>    
    <p>Questo servizio mette a disposizione le previsione meteo aggiornate per le località in Trentino Alto Adige</p>
    <h4><a href="/trentino-locations">SELEZIONA QUI UNA LOCALITA' <br /> PER VISUALIZZARE LE PREVISIONI METEO</a><br/></h4>
    <div class="centered mt-6">
        <div class="minicard mt-6  p-2">
            <p class="test-center">
                <h6>Progetto Esame Applicazioni Web,<br/> Mobile, Cloud Computing</h6>
                <h5>Unicam - Università degli Studi di Camerino</h5>
                <span>L. Rossetti - 114267</span>
            </p>
        </div>
    </div>
</div>
