@{
    ViewData["Title"] = "CREDITS";
}
<div class="minicard p-2">
    <h1 style="color:darkred">@ViewData["Title"]</h1>
    <p>Prova d'esame</p>
    <h5>Corso Applicazioni Web, Mobile, CloudComputing</h5>
    <h6>Luigi Rossetti</h6>
    <h6>Settembre 2024</h6>
    <h6>Matricola: 114267</h6>
</div>
